@import url("https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap");

$color-gray: #999;
$color-white: #e9e9e9;
$color-black: #252525;
$color-little_white: rgba(236, 236, 236, 0.9);
$text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
$gray-shadow: 2px 2px 3px rgba(90, 90, 90, 0.9);
$box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
$fashion-shadow: 2px 10px 14px rgba(0, 0, 0, 0.5);
$border: 2px 2px solid black;
$filter: blur(5px);
$tablet: 1024px; //平板尺寸 (ipad pro)
$tablets: 960px; //平板尺寸 (ipad)
$mobile: 767px; //手機尺寸

* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    // 盒子大小：框線盒子 (規範網頁盒子範圍)
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background: rgb(255, 255, 255);
}

// 導覽列
#menu {
    background-image: url(./img/menu.png);
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: none;

    @media screen and (max-width: $tablet) {
        display: block;
        margin: 0 15px 0 auto;
    }

    @media screen and (max-width: $mobile) {
        margin: 0 20px 0 auto;
        background-size: cover;
        width: 40px;
        height: 40px;
    }

    .mini-link-box {
        position: relative;
        display: inline-block;
        padding: 0 60px;
        vertical-align: 10px;
        color: $color-black;
        height: 50px;
        right: 80px;
        top: 0px;
        // 滑入後 顯示 裡面的 子分頁元素
        &:hover .mini-link {
            // display: block;
            transform: scale(1);
        }

        .mini-link {
            // display: none;
            // 第二種作法
            transform: scale(0);
            transition: 1s;
            transform-origin: top;
            position: absolute;
            list-style-type: none;
            top: 56px;
            left: 4px;
            background: $color-little_white;

            .mini-logo {
                font-weight: 900;
                transition: 0.5s !important;
                font-size: 22px !important;
                font-family: "Coda Caption", sans-serif;
                letter-spacing: 3px;
            }

            a {
                display: block !important;
                padding: 20px 50px !important;
                width: 180px !important;
                color: $color-black;
                font-size: 20px;
            }
        }
    }
}

nav {
    display: grid;
    grid-template-columns: auto 45% 15%;
    text-align: center;
    background: $color-little_white;
    padding: 25px;
    color: $color-white;
    box-shadow: $box-shadow;
    position: fixed;
    z-index: 6;
    width: 100%;
    height: 110px;
    top: 0;

    @media screen and (max-width: $tablet) {
        grid-template-columns: 100% 0;
    }

    .link-mini-work {
        position: relative;
        display: inline-block;
        padding: 0 60px;
        vertical-align: 10px;
        color: $color-black;
        font-size: 20px;
        padding: 20px 50px;
        // height: 300px;
        // 滑入後 顯示 裡面的 子分頁元素
        &:hover .sub-mini-link {
            // display: block;
            transform: scale(1);
        }
    }

    .sub-mini-link {
        // display: none;
        // 第二種作法
        transform: scale(0);
        transition: 1s;
        transform-origin: top;
        position: absolute;
        top: 0;
        right: 190px;
        background: $color-little_white;
        list-style-type: none;
    }
    #link-work {
        position: relative;
        display: inline-block;
        padding: 0 10px;
        vertical-align: 25px;
        color: $color-black;
        // height: 300px;

        // 滑入後 顯示 裡面的 子分頁元素
        &:hover .sub-link {
            // display: block;
            transform: scale(1);
        }
    }

    .sub-link {
        // display: none;
        // 第二種作法
        transform: scale(0);
        transition: 1s;
        transform-origin: top;
        position: absolute;
        top: 56px;
        left: -50px;
        background: $color-little_white;

        a {
            display: block !important;
            padding: 20px 60px !important;
            width: 180px !important;
        }
    }

    #link {
        padding-top: 15px;
        text-align: right;

        @media screen and (max-width: $tablet) {
            display: none;
        }

        ul {
            list-style-type: none;
        }

        a {
            color: $color-black;
            text-decoration: none;
            font-size: 16px;
            padding: 0 10px;
            transition: 0.5s;
            display: inline-block; //行內區塊元素 不會自己一行而且可以縮放
            vertical-align: 25px;

            &:hover {
                color: pink;
                transform: scale(1.05);
            }
        }
    }

    #social {
        @media screen and (max-width: $tablet) {
            display: none;
        }

        margin-right: 20px;

        a {
            transition: 0.4s;
            padding: 0 10px;

            img {
                width: 20px;
                vertical-align: -20px; //上下對齊

                &:hover {
                    filter: invert(92%) sepia(63%) saturate(7384%) hue-rotate(291deg) brightness(103%) contrast(103%);
                }
            }
        }
    }
}

.logo_pic {
    float: left;
    padding: 5px;

    &:hover {
        filter: invert(92%) sepia(63%) saturate(7384%) hue-rotate(291deg) brightness(103%) contrast(103%);
    }
}

.logo {
    font-weight: 900;
    transition: 0.5s !important;
    font-size: 26px !important;
    font-family: "Coda Caption", sans-serif;
    float: left;
    letter-spacing: 3px;
    color: $color-black;
    margin-left: 30px;
    transition: 3s;

    @media screen and (min-width: $tablet) {
        display: block !important;
    }

    @media screen and (max-width: $tablet) {
        display: none !important;
    }

    &:hover {
        transform: scale(1.15) !important;
        text-decoration: none;
        color: rgb(255, 192, 192);
    }
}

// 輪播
#banner {
    .slick-prev {
        left: 50px;
        z-index: 2;

        @media screen and (max-width: $tablet) {
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
        }

        @media screen and (max-width: $mobile) {
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
        }
    }
    .slick-next {
        right: 50px;
        z-index: 2;

        @media screen and (max-width: $tablet) {
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
        }

        @media screen and (max-width: $mobile) {
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
        }
    }
    .slick-dots {
        bottom: 50px;
        z-index: 2;
    }

    @for $i from 1 through 3 {
        .banner#{$i} {
            background-image: url(./img/banner#{$i}.png);
            height: 100vh;
            text-align: center;
            color: $color-white;
            position: relative;

            @media screen and (max-width: $tablet) {
                background-size: cover;
            }

            @for $i from 1 through 3 {
                .banner#{$i}::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100vh;
                    background-image: url(./img/banner#{$i}.jpg);
                    filter: blur(5px);
                    z-index: 5;
                    background-size: cover;
                }
            }

            &:focus {
                outline: none;
            }

            h2 {
                padding: 300px 0 100px;
                font-size: 60px;
                font-weight: bold;
                text-shadow: $gray-shadow;
                color: $color-black;

                @media screen and (max-width: $tablet) {
                    padding: 600px 0 50px;
                }

                @media screen and (max-width: $tablets) {
                    padding: 400px 0 50px;
                }

                @media screen and (max-width: $mobile) {
                    padding: 300px 0 30px;
                    font-size: 36px;
                }
            }

            h3 {
                font-size: 24px;
                line-height: 1.5;
                text-shadow: $gray-shadow;
                color: $color-black;

                @media screen and (max-width: $tablet) {
                    width: 80%;
                    margin: 0 auto;
                    line-height: 1.5;
                    font-size: 30px;
                }

                @media screen and (max-width: $tablets) {
                    width: 80%;
                    margin: 0 auto;
                    line-height: 1.3;
                    font-size: 24px;
                }

                @media screen and (max-width: $mobile) {
                    width: 50%;
                    font-size: 20px;
                    margin: 0 auto;
                    line-height: 1.5;
                }
            }
        }
    }

    .banner1 {
        background-position: -100px -50px;

        @media screen and (max-width: $tablet) {
            background-position: center;
        }
    }

    .banner2 {
        background-position: -120px;

        @media screen and (max-width: $tablet) {
            background-position: center;
        }
    }

    .banner3 {
        background-position: -200px -220px;

        @media screen and (max-width: $tablet) {
            background-position: center;
        }
    }
}

// 關於
#about {
    background-image: url(./img/mywork.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0 auto;
    width: calc(100% - 100px - 100px);
    margin-top: 150px;

    .big_box {
        position: relative;
        height: 80vh;
        margin-top: 20px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.35);

        @media screen and (max-width: $tablet) {
            height: 90vh;
        }

        @media screen and (max-width: $tablets) {
            height: 100vh;
        }

        @media screen and (max-width: $mobile) {
            height: 100vh;
        }

        h2 {
            font-size: 48px;
            width: 100%;
            text-align: center;
            padding: 30px;
            color: $color-black;

            @media screen and (max-width: $tablet) {
                padding: 50px;
                font-weight: 900;
            }

            @media screen and (max-width: $tablets) {
                padding: 20px;
                font-weight: 900;
            }

            @media screen and (max-width: $mobile) {
                padding: 5px;
            }
        }

        p {
            font-size: 20px;
            width: 100%;
            text-align: center;
            padding: 5px 200px;
            color: $color-black;
            font-weight: 500;
            line-height: 40px;

            @media screen and (max-width: $tablet) {
                padding: 0 200px 50px;
                font-size: 26px;
                line-height: 60px;
            }

            @media screen and (max-width: $tablets) {
                padding: 10px 100px;
                font-size: 20px;
                text-align: center;
            }

            @media screen and (max-width: $mobile) {
                width: 70%;
                padding: 5px 0;
                font-size: 16px;
                line-height: 30px;
                margin: 0 auto;
            }
        }
    }

    .mini_box {
        width: 1280px;
        margin: 0 auto;
        margin-top: 80px 0;
        // 溢出：隱藏
        // overflow: hidden;

        @media screen and (max-width: $tablet) {
            width: 100%;
        }

        @media screen and (max-width: $mobile) {
            margin-top: 10px;
        }

        &:focus {
            outline: none;
        }

        img {
            width: 250px;
            height: 375px;
            object-fit: cover;
            /* border-radius: 50%; 寬高要相同(圓形) */
            border-radius: 10%;
            display: block;
            /* 顯示模式：區塊 */
            margin: 0 auto;
            /* 區塊元素 block 才能margin:0 auto; */
            transition: 0.5s;
            box-shadow: $box-shadow;

            @media screen and (max-width: $mobile) {
                width: 200px;
                height: 320px;
            }

            &:hover {
                border-radius: 1px;
            }
        }

        h3 {
            text-align: center;
            margin-top: 10px;
            color: $color-black;

            @media screen and (max-width: $tablet) {
                margin-top: 30px;
            }

            @media screen and (max-width: $mobile) {
                margin-top: 20px;
            }
        }
    }
}

// 最新消息
#news {
    width: 1280px;
    margin: 0 auto;
    padding: 20px 0;

    @media screen and (max-width: $tablet) {
        width: 100%;
        padding: 20px 20px;
    }

    #news-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;

        @media screen and (max-width: $tablets) {
            grid-template-columns: 1fr;
            grid-gap: 50px;
        }

        @media screen and (max-width: $mobile) {
            grid-template-columns: 1fr;
            grid-gap: 50px;
        }

        .news-card {
            box-shadow: $box-shadow;

            .recipe2 {
                position: absolute;
                left: 0;
                opacity: 1;
                transition: 1s;

                &:hover {
                    opacity: 0;
                }
            }
        }

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

        h4 {
            text-align: center;
            padding: 10px;
        }

        p {
            line-height: 1.5;
            font-size: 14px;
            padding: 20px 20px 30px;
        }
    }
}

// 最新遊戲
#work {
    width: 1280px;
    margin: 0 auto;

    // 溢出：隱藏
    overflow: hidden;

    @media screen and (max-width: $tablet) {
        width: 100%;
    }

    &:focus {
        outline: none;
    }

    img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        /* border-radius: 50%; 寬高要相同(圓形) */
        border-radius: 50%;
        display: block;
        /* 顯示模式：區塊 */
        margin: 0 auto;
        /* 區塊元素 block 才能margin:0 auto; */
        transition: 0.5s;
        box-shadow: $fashion-shadow;

        &:hover {
            border-radius: 20px;
        }
    }

    h3 {
        text-align: center;
        margin-top: 30px;
        color: $color-black;
    }
}

// 聯絡LEO
#list {
    padding: 100px 0 0;
}

form {
    width: 1280px;
    margin: 0 auto;
    padding: 20px 0 100px;

    @media screen and (max-width: $tablet) {
        width: 100%;
        padding: 20px 20px 100px;
    }

    input {
        width: 47%;
        padding: 10px;

        @media screen and (max-width: $tablet) {
            width: 100%;
            margin-bottom: 20px;
        }

        &::placeholder {
            color: $color-gray;
            font-size: 14px;
        }
    }

    input[type="email"] {
        float: right;
    }

    textarea {
        width: 100%;
        height: 300px;
        margin: 30px 0;
        padding: 10px;

        &::placeholder {
            color: $color-gray;
            font-size: 14px;
        }
    }
}

footer {
    background: #888;
    margin-top: 100px;
    padding: 50px;
    text-align: center;

    .logo {
        color: $color-white;
        font-size: 14px;
        padding: 10px 0;
        text-decoration: none;
    }

    #link {
        padding: 1px 0;

        a {
            color: $color-white;
            text-decoration: none;
            font-size: 14px;
            padding: 0 5px;

            @media screen and (max-width: $mobile) {
                display: block;
                padding: 8px 0;
            }
        }
    }

    #copy {
        color: $color-black;
        font-size: 8px;
    }
}

// 區塊內容介紹
section {
    width: 1280px;
    height: 100%;
    margin: 100px auto;

    @media screen and (max-width: $tablet) {
        width: 100%;
    }

    .boxing {
        width: 100%;
        margin: 0 auto;

        .box_magic {
            display: grid;
            grid-template-columns: 60% 40%;
            grid-gap: 15px;
            margin-bottom: 100px;

            @media screen and (max-width: $tablet) {
                grid-template-columns: none;
                display: block;
            }
        }

        .image_box {
            margin: 0 auto;
            padding: 0;
            display: block;
            width: 100%;
        }

        img {
            width: 450px;
            height: 450px;
            object-fit: cover;
            margin: 0 100px;

            @media screen and (max-width: $tablet) {
                margin: 0 290px;
            }

            @media screen and (max-width: $tablets) {
                margin: 0 160px;
            }

            @media screen and (max-width: $mobile) {
                margin: 0 auto;
            }
        }

        .text_box {
            margin: 0;
            padding: 210px 60px 0;
            display: block;
            width: 100%;

            @media screen and (max-width: $tablet) {
                margin: 0 auto;
            }
        }

        h4 {
            text-align: center;
            padding: 20px 10px 10px;
            font-size: 32px;
            font-weight: bold;

            @media screen and (max-width: $tablet) {
                font-size: 40px;
            }
        }

        p {
            font-size: 20px;
            padding: 10px 0;
            line-height: 2.5;

            @media screen and (max-width: $tablet) {
                width: 100%;
                font-size: 30px;
            }

            @media screen and (max-width: $mobile) {
                font-size: 24px;
                line-height: 2;
            }
        }

        .box_magic:nth-child(odd) {
            grid-template-areas: "pic text";
            grid-template-columns: 50% 50%;

            @media screen and (max-width: $tablet) {
                grid-template-columns: 1fr;
                margin: 0 auto;
            }
        }
        .box_magic:nth-child(odd) .image_box {
            grid-area: pic;
        }
        .box_magic:nth-child(odd) .text_box {
            grid-area: text;
            padding: 220px 100px 0;

            @media screen and (max-width: $mobile) {
                padding: 0 30px;
            }
        }

        .box_magic:nth-child(even) {
            grid-template-areas: "text pic";
            grid-template-columns: 40% 60%;
            margin-left: 15%;

            @media screen and (max-width: $tablet) {
                grid-template-columns: 1fr;
                margin: 0 auto;
            }
        }

        .box_magic:nth-child(even) .image_box {
            grid-area: pic;
        }

        .box_magic:nth-child(even) .text_box {
            grid-area: text;

            @media screen and (max-width: $tablet) {
                padding: 0 100px;
            }

            @media screen and (max-width: $mobile) {
                padding: 0 30px;
            }
        }
    }
}

// 聯絡我們
#contactme {
    height: 50vh;

    .title-big {
        margin: 20px;
        text-align: center;
    }
}

.box_info {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 20px;

    .contact_box_text {
        height: 100%;
        padding: 20px 0 0 150px;
        line-height: 2.1;

        .studio article {
            margin-top: 100px;
            display: block;
        }
    }

    form {
        width: 700px;
        margin: 0 auto;
        padding: 20px 0 100px;
        float: right;

        @media screen and (max-width: $tablet) {
            width: 100%;
            padding: 20px 20px 100px;
        }

        input {
            width: 100%;
            padding: 3px;
            margin-bottom: 5px;

            @media screen and (max-width: $tablet) {
                width: 100%;
                margin-bottom: 20px;
            }

            &::placeholder {
                color: $color-gray;
                font-size: 14px;
            }
        }

        input[type="email"] {
            float: left;
        }

        textarea {
            width: 100%;
            height: 100px;
            margin: 5px 0;
            padding: 10px;

            &::placeholder {
                color: $color-gray;
                font-size: 14px;
            }
        }

        .btn {
            border: 1px solid #252525;
            color: #212529;
            text-align: center;
            vertical-align: middle;
            width: 10%;
            float: right;
        }
    }
}
